<template>
  <form class="input-form" action="javascript:void(0)" method="POST" id="form">
    <input type="input" id="add-input" placeholder="Add new" v-model="form_data.name" />
    <button class="save-btn" id="save" @click="add()">
      <font icon="plus-square" id="btn-icon" />
    </button>
  </form>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    form_data: {
      type: Object,
      required: true,
    },
  },
  methods: {
    add() {
      this.$emit("add", this.inputData);
    },
  },
};
</script>