<template>
  <div class="nav-items" id="nav-items">
    <li
      class="nav-link"
      :class="item.cname"
      @click="Show(index)"
      v-for="(item, index) in category"
      :key="item.id"
    >
      <a href="#">
        <font :icon="`${item.icon}`" />
        <span class="nav-text">{{ item.name }}</span>
      </a>
    </li>
  </div>
</template>

<script>
export default {
    data(){
        return {
          
        }    
    },
    props:{
        category:{
            type: Object,
            required: true
        }
    },
    methods:{
        Show(n){
            this.$emit("show", n)
        }
    }
}
</script>