<template>
  <div class="data-table">
    <Form @add="add" :form_data="inputData" />
    <Tabledata :data="data" @edit="edit" @remove="remove" />
  </div>
</template>

<script>
import Tabledata from "./Table_data.vue";
import Form from "./Add_form.vue";

export default {
  components: {
    Form,
    Tabledata,
  },
  props: {
    changeId: {
      type: Number,
      required: true,
    },
    data:{
      type:Object,
      required: true,
    },
    bigData:{
      type:Object,
      required: true,
    }

  
  },
  data() {
    return {
      inputData: { id: "", name: "" },
    };
  },

  methods: {
    remove(id) {
      let data = this.bigData[this.changeId];
      data.splice(id, 1);
    },
    edit(id) {
      let data = this.bigData[this.changeId];
      this.inputData.name = data[id].name;
      this.editId = id;
    },
    add() {
      if (this.inputData.name.length > 0) {
        if (this.editId > -1) {
          let inf = this.bigData[this.changeId][this.editId];
          inf.name = this.inputData.name;
          this.editId = -1;
          this.inputData.name = "";
        } else {
          let inf = {
            id: this.bigData[this.changeId].length + 1,
            name: this.inputData.name,
          };
          this.bigData[this.changeId].push(inf);
          this.editId = -1;
          this.inputData.name = "";
        }
      } else {
        alert("Please add some text");
      }
    },
  },
};
</script>