<template>
  <div class="items">
    <div class="item" v-for="(item, index) in data" :key="item.id">
      <p>{{ (index += 1) }}</p>
      <p class="text">{{ item.name }}</p>
      <div class="btns">
        <button class="btn" @click="remove(index - 1)">
          <font icon="trash-alt" />
        </button>
        <button class="btn" @click="edit(index - 1)">
          <font icon="edit" aria-hidden="true"></font>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return {}
    },
    props:{
        data:{
            type: Object,
            required: true
        }
    },
    methods:{
        edit(id){
            this.$emit('edit', id);
        },
        remove(id){
            this.$emit('remove', id);
        }
    }
}
</script>