@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');


body {
    background-color: #22212f;
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #151724;
}

.navbar-top {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    height: 15%;
    padding-bottom: 40px;
}

.navbar-top svg {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin: 20px 0px 0px 40px;
}

.navbar-top p {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
}

.nav-items {
    text-decoration: none;
    list-style: none;
    /* border: 2px solid red; */
}

.nav-link {
    width: 80%;
    height: 45px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 10px;
    /* border: 2px solid #fff; */
    padding: 5px;
    display: flex;
    align-items: center;
}

.nav-link.active {
    background-color: #212330;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #212330b9;
}

.nav-link a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-left: 20px;

}

.nav-link span {
    margin-left: 10px;
}

.data-container {
    font-family: 'Lato', sans-serif;
    float: right;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-table {
    background-color: #C3C7CA;
    padding: 25px;
    max-width: 700px;
    width: 100%;
    border-radius: 5px;


}
.items {
    background-color: #304B5F;
    margin-top: 10px;
    padding: 10px 19px 20px;
}

.item {
    color: #fff;
    display: flex;
    height:35px;
    align-items: center;
    justify-content: space-between;

}

.input-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-form input {
    border: none;
    outline: none;
    height: 34px;
    border-radius: 22px;
    width: 80%;
    padding: 0 18px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}

.save-btn {
    background-color: #00ca46;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 8px 8px;
    border: none;
}

.btn {
    background-color: #ff5332;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    margin: 2px;
}

.btn:nth-child(2) {
    background-color: #0091ef;
}

.text {
    font-size: 18px;
    font-weight: 400;
}