<script setup>
import { RouterLink, RouterView } from "vue-router";
</script>
<template>
  <div id="app">
    <div class="navbar">
      <NavbarTop />
      <Navlinks @show="Show" :category="category" />
    </div>
    <div class="data-container">
      <Table :changeId="changeId" :data="data" :bigData="bigData" />
    </div>
  </div>
</template>



<script>
import NavbarTop from "./components/Navbar_top.vue";
// import Navbar from "./components/Navbar.vue";
import Table from "./components/Table.vue";
import Navlinks from "./components/NavLinks.vue";

export default {
  name: "App",

  components: {
    Table,
    //     Navbar,
    NavbarTop,
    Navlinks,
  },
  data() {
    return {
      changeId:null,
      data: null,
      category: [
        { id: 1, name: "Cars", icon: "car", cname: "" },
        { id: 2, name: "Users", icon: "user", cname: "" },
        { id: 3, name: "Projects", icon: "project-diagram", cname: "" },
      ],
      bigData: [
        [
          { id: 1, name: "Malibu" },
          { id: 2, name: "Gentra" },
          { id: 3, name: "Nexia 3" },
          { id: 4, name: "Cobalt" },
          { id: 5, name: "Trabilizer" },
        ],
        [
          { id: 1, name: "Dilshod" },
          { id: 2, name: "Abdulaziz" },
          { id: 3, name: "Kamron" },
          { id: 4, name: "Jasur" },
          { id: 5, name: "Nodir" },
        ],
        [
          { id: 1, name: "Calculator" },
          { id: 2, name: "Snake game" },
          { id: 3, name: "Chess" },
          { id: 4, name: "CRUD" },
          { id: 5, name: "Chat app" },
        ],
      ],
    };
  },
  mounted() {
    this.data = this.bigData[0]
    this.changeId = 0;
    this.category[0].cname = "active";
  },
  methods: {
    Show(n) {
      var ar = [];
      this.category.forEach(function (a) {
        a.cname = "";
        ar.push(a);
      });
      this.category[n].cname = "active";
      this.data = this.bigData[n];
      this.changeId = n;
    },
  },
};
</script>
<style>
@import "@/assets/style.css";
</style>
